
<html>

<head>
  <meta charset='UTF-8'>
  <meta name="description" content="Asylum Advice helps asylum seekers to find support in the asylum process. Legal advisors and lawyers help with permissions to stay, visa and formularities.">
  <meta name="keywords" content="refugee, support, aslum process, residence permit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
  <title>Asylum Advice - Information and Support for Asylum Seekers</title>
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel='stylesheet' href='styles/main.css'>
  <link rel='stylesheet' href='styles/leaflet.css'>
</head>

<body>
<div id='app'>

  <landing v-if='store.state.showLanding'></landing>

  <div v-else>
    <searchheader :class='store.state.blueheader?"bigonly":""'></searchheader>
    <blueheader v-if='store.state.blueheader'></blueheader>

    <ddmenu></ddmenu>
    <router-view></router-view>
  </div>

</div>
</body>

<script src='libs/vue.js'></script>
<script src='libs/vue-router.js'></script>
<script src='libs/vuex.js'></script>
<script src='libs/leaflet.js'></script>
<script src='libs/vue2-leaflet.js'></script>
<script src='libs/gps-helper.js'></script>
<script src='libs/cookies.js'></script>
<script src='libs/matomo.js'></script>
<script src='i18n/translations_en.js'></script>
<script src='i18n/translations_de.js'></script>
<script src='i18n/translations_fr.js'></script>
<script src='i18n/translations_ar.js'></script>
<script src='i18n/translations_fa.js'></script>
<script src='i18n/translations_tr.js'></script>
<script src='i18n/translations.js'></script>
<script src='libs/vue-i18n.js'></script>
<script src='const.js'></script>

<script src='components/landing.vue'></script>
<script src='components/header.vue'></script>
<script src='components/blueheader.vue'></script>
<script src='components/home.vue'></script>
<script src='components/map.vue'></script>
<script src='components/mapbuttons.vue'></script>
<script src='components/searchbox.vue'></script>
<script src='components/list.vue'></script>
<script src='components/card.vue'></script>
<script src='components/cardhelper.vue'></script>
<script src='components/menu.vue'></script>
<script src='components/bookmarks.vue'></script>
<script src='components/profile.vue'></script>
<script src='components/institutes.vue'></script>
<script src='components/languages.vue'></script>
<script src='components/cities.vue'></script>
<script src='components/settings.vue'></script>
<script src='components/information.vue'></script>
<script src='components/privacy.vue'></script>
<script src='components/imprint.vue'></script>
<script src='components/about.vue'></script>
<script src='components/error.vue'></script>

<script src='main.js'></script>

</html>
