
const About = Vue.component('about', {
    template: `
      <div class='container'>
        <p v-html="$t('about_msg')" class='text'>
        </p>
      </div>
        `,
    data: function() {
        return { }
    }
})

