
Vue.component('blueheader', {
    template: `
        <div id='blueheader' :class='bgimage'>
          <div class='toplayer tinyandmedium pointer bh-logo-div' @click='$router.go(-1)'>
            <img :src="image_src" :class='image_src===src_back?"main-logo-arrow-back":"main-logo-small"'>
            <img :src="image_src" class='main-logo-large'>
          </div>
          <div class='nav-menu nav-menu-white toplayer tinyandmedium' @click='store.commit("toggle_menu")'>
          </div>
          <div class='blue-headline toplayer'>
            {{ headline }}
          </div>
        </div>
        `,
    data: function() {
        return {
            headline: "",
            headline_i18n: "",
            bgimage: "",
            image_src: "images/logo_white.png",
            src_logo: "images/logo_white.png",
            src_back: "images/icons/mapListView/icon_navigation_back.svg"
        }
    },
    methods: {
        set_headline_bgimage: function(current) {
            if (current.path.startsWith('/profile')) {
                this.set_headline(get_card(router.currentRoute.params.id).name);
                this.bgimage = 'blue-image-illegalwall';
                this.image_src = this.src_back;
            }
            else if (current.path.startsWith('/information')) {
                this.set_headline(this.$t('information_headline'), 'information_headline');
                this.bgimage = 'blue-image-weareall';
                this.image_src = this.src_logo;
            }
            else if (current.path.startsWith('/settings')) {
                this.set_headline(this.$t('settings_headline'), 'settings_headline');
                this.bgimage = 'blue-image-everyone';
                this.image_src = this.src_logo;
            }
            else if (current.path.startsWith('/bookmarks')) {
                this.set_headline(this.$t('bookmarks_headline'), 'bookmarks_headline');
                this.bgimage = 'blue-image-lawyer';
                this.image_src = this.src_logo;
            }
            else if (current.path.startsWith('/about')) {
                this.set_headline(this.$t('about_headline'), 'about_headline');
                this.bgimage = 'blue-image-illegal';
                this.image_src = this.src_logo;
            }
            else if (current.path.startsWith('/privacy')) {
                this.set_headline(this.$t('privacy_headline'), 'privacy_headline');
                this.bgimage = 'blue-image-frontex';
                this.image_src = this.src_logo;
            }
            else if (current.path.startsWith('/imprint')) {
                this.set_headline(this.$t('imprint_headline'), 'imprint_headline');
                this.bgimage = 'blue-image-paper';
                this.image_src = this.src_logo;
            }
            else {
                this.set_headline("");
                this.bgimage = 'blue-image-hands';
                this.image_src = this.src_logo;
            }
        },
        set_headline(text, i18n) {
            if (text === "i18n") // translate old one
                this.headline = this.$t(this.headline_i18n);
            else {
                this.headline = text;
                this.headline_i18n = i18n;
            }
        }
    },
    watch: {
        $route(to, from) {
            this.set_headline_bgimage(to);
        },
        '$i18n.locale': function() {
            this.set_headline("i18n");
        }
    },
    mounted() {
        this.set_headline_bgimage(router.currentRoute);
    }
});

