
const Bookmarks = Vue.component('bookmarks', {
    template: `
      <div>
        <div style='position:relative; top: -80px;'>
          <div class='container'>
            <card v-for='inst in listed' :card='inst' :in-bookmarks='true'
                  :isb='store.state.bookmarks.indexOf(inst.id)!==-1'
            >
            </card>
          </div>
        </div>
        <div v-if='listed.length===0'>
         <div class='container-row'>
           <img src='images/illustrations/noadyet.svg' class='noadyet-img'>
           <div style='max-width: 30%'>
              <p class='hint'>
                {{ $t('favorites_empty_message') }}
              </p>
              <router-link to='/'>
                <button>
                  <img src='images/icons/topNav/icon_lupe_green.svg' style='height: 12px; float: left; margin-left: 20px; position: relative; top: 4px;'>
                  {{ $t('start_searching') }}
                </button>
              </router-link>
            </div>
          </div>
        </div>
      </div>
        `,
    data: function() {
        return {
            listed: []
        }
    },
    methods: {
        set_bookmark: function(id) {
            let pos = this.store.bookmarks.indexOf(id)
            if (pos !== -1)
                store.commit('del_bookmark', pos);
            else
                store.commit('add_bookmark', id);
        },
        fill_list: function() {
            this.listed = institutes.filter(function(inst) {
                return store.state.bookmarks.indexOf(inst.id) !== -1
            }, this);
        }
    },
    mounted() {
        this.fill_list();
    }
})

