
Vue.component('card', {
    props: ['card', 'isb', 'nextToMap', 'inBookmarks'],
    template: `
        <template>
            <div :class='["card",
                           nextToMap ? "card-next-to-map" :
                                   inBookmarks ? "card-bookmark" : "",
                           (nextToMap && store.state.selectedCard &&
                             store.state.selectedCard.id === card.id) ?
                                    "card-activated" : ""
                         ]'
                 @click='nextToMap? store.commit("set_card", card)
                                   :router.push("/profile/" + card.id)'
            >
              <div style='width: 90%'>
                <p class='card-header'>{{ shorten(card.name) }}</p>
                <costdiv :free='card.free'></costdiv>
                <languagediv :language='card.language'></langdiv>
              </div>
              <div class='flex-vert'>
                <div :class='isb ? "heart-icon-filled" : "heart-icon"'
                      class='card-icon'
                      @click.stop='store.commit("toggle_bookmark", card.id)'>
                </div>
                <div class='card-icon mail-icon' @click.stop='mailme'>
                </div>
                <div class='card-text card-more'>more <i class="arrow-right"></i></div>
              </div>
            </div>
        </template>
        `,
    data: function() {
        return {}
    },
    methods: {
         mailme: function() {
            location.href = 'mailto:' + this.card.email + mailbody;
         },
         shorten: function(name) {
            let short = name.split(" ").slice(0,3).join(" ")
            if (short !== name) short += " ..."
            return short
         }
    }
});

