
Vue.component('languagediv', {
    props: ['language', 'isProfile'],
    template: `
          <div class="centerflex">
            <img src='images/icons/card/icon_language_card_grey.svg' class='icon' rel='preload'>
            <p :class='isProfile?"profile-text":"card-text"'>
              {{ lang_str }}
            </p>
          </div>
        `,
    computed: {
        lang_str: function() {
            if (!this.language) return ''
            let langArr = [];
            let newl = "";
            for (lang of this.language.split(',')) {
                newl = this.$t("lang_"+lang);
                if (newl !== "lang_"+lang)
                    langArr.push(newl)
                else
                    langArr.push(lang)
            }
            return langArr.join(', ');
        }
    }
});

Vue.component('addrdiv', {
    props: ['street', 'plz', 'city'],
    template: `
          <div class="centerflex">
            <img src='images/icons/legalAdvice/icon_item_properties.svg' class='icon' rel='preload'>
            <p class='profile-text' @click='goto'>
              <a href='#'>{{ addr_str }}</a>
            </p>
          </div>
        `,
    computed: {
        addr_str: function() {
            return this.street + ', ' + this.plz + ' ' + this.city
        }
    },
    methods: {
        goto: function() {
            this.$emit('goto');
        }
    }
});

Vue.component('teldiv', {
    props: ['tel'],
    template: `
          <div class="centerflex">
            <img src='images/icons/legalAdvice/icon_phone_properties.svg' class='icon' rel='preload'>
            <p class='profile-text'>
              <a :href='tel_link' v-if='tel_link'>{{ this.tel_str }}</a>
              <span v-else>{{ this.tel_str }}</span>
            </p>
          </div>
        `,
    computed: {
        tel_link: function() {
            if (this.tel === 'No TelephoneNumber')
                return ''
            else
                return 'tel:' + this.tel
        },
        tel_str: function() {
            return this.tel === 'No TelephoneNumber' ? ' - ' : this.tel
        }
    }
});

Vue.component('emaildiv', {
    props: ['email'],
    template: `
          <div class="centerflex">
            <img src='images/icons/legalAdvice/icon_email_properties.svg' class='icon' rel='preload'>
            <p class='profile-text'>
              <a :href='"mailto:"+ this.email + mailbody'>
              {{ this.email }}
              </a>
            </p>
          </div>
        `,
});

Vue.component('hpdiv', {
    props: ['homepage'],
    template: `
          <div class="centerflex">
            <img src='images/icons/legalAdvice/icon_adress_properties.svg' class='icon' rel='preload'>
            <p class='profile-text'>
              <a :href='link' target='_blank' rel='noopener'>{{ this.homepage }}</a>
            </p>
          </div>
        `,
     computed: {
        link: function() {
            if (this.homepage.startsWith('http'))
                return this.homepage
            else
                return "http://" + this.homepage
        }
     }
});

Vue.component('hoursdiv', {
    props: ['hours'],
    template: `
          <div class="centerflex">
            <img src='images/icons/legalAdvice/icon_hours_properties.svg' class='icon' rel='preload'>
            <p class='profile-text'>
              {{ hours_str }}
            </p>
          </div>
        `,
    computed: {
        hours_str: function() {
            return this.hours
        }
    }
});

Vue.component('costdiv', {
    props: ['free', 'isProfile'],
    template: `
          <div class="centerflex">
            <img :src='free?"images/icons/card/icon_free_card_grey.svg":"images/icons/card/icon_paid_card_grey.svg"' class='icon' rel='preload'>
            <p :class='isProfile?"profile-text":"card-text"'>
              {{ cost_str }}
            </p>
          </div>
        `,
    computed: {
        cost_str: function() {
            return this.free ? this.$t('card_free') : this.$t('card_paid')
        }
    }
});


