
const Concept = {
    template: `
        <div class="content">

        <div class="md-layout md-alignment-top-center">
          <div class="md-display-1">
            {{ $t("message.concept") }}
          <div>
          <div class="md-body-2 text">
            {{ $t("message.concept_text") }}
          <div>
        </div>

        </div>
        `
    }

