
const Error = Vue.component('error', {
    template: `
        <div>
          <div class='container'>
            <div>
              <img src="images/illustrations/error.svg" style='width: 400px; max-width: 95%'>
              <p class='hint'>
                {{ $t('error_lost_msg') }}
              </p>
              <button @click='$router.go(-1)'>
                Go back
              </button>
            </div>
          </div>
        </div>
        `,
})

