
Vue.component('searchheader', {
    template: `
      <div>
        <div id='header' class='centerflex'>
          <div class='toplayer' class='main-logo-div mediumonly'>
            <router-link to="/home">
              <img src="images/logo_short.svg" class='main-logo-small pointer' rel="preload">
              <img src="images/logo.svg" class='main-logo-large pointer' rel="preload">
            </router-link>
          </div>
          <searchbox class='toptoplayer tinyandmedium-block' ref='searchbox'>
          </searchbox>

          <div style='flex-grow: 1'></div>

          <router-link to="/home" class='bigonly'>
            <div class='centerflex header-item'
                   @mouseover='home_image=home_image_hover'
                   @mouseleave='home_image=home_image_leave'
            >
              <p class="header-text" :class='active==="home"?"header-text-active":home_image===home_image_hover?"header-text-hover":""'>
                <img :src='active==="home"?"images/icons/topNav/icon_home_green.svg":home_image'
                     class='icon'
                     style='top: 4px; position: relative;'
                     rel="preload"
                >
                {{ $t("header_home") }}
              </p>
            </div>
          </router-link>
          <router-link to="/search" class='bigonly'>
            <div class='centerflex header-item'
                   @mouseover='search_image=search_image_hover'
                   @mouseleave='search_image=search_image_leave'
            >
              <p class="header-text" :class='active==="search"?"header-text-active":search_image===search_image_hover?"header-text-hover":""'>
                <img :src='active==="search"?"images/icons/topNav/icon_lupe_green.svg":search_image'
                     class='icon'
                     style='top: 4px; position: relative;'
                     rel="preload"
                >
                {{ $t("header_search") }}
              </p>
            </div>
          </router-link>
          <router-link to="/information" class='bigonly'>
            <div class='centerflex header-item'
                   @mouseover='information_image=information_image_hover'
                   @mouseleave='information_image=information_image_leave'
            >
              <img :src='active==="information"?"images/icons/dropDown/icon_list_menu_green.svg":information_image'
                   class='icon'
                   rel="preload"
                >
              <p class="header-text" :class='active==="information"?"header-text-active":information_image===information_image_hover?"header-text-hover":""'>
                {{ $t("header_information") }}
              </p>
            </div>
          </router-link>
          <router-link to="/bookmarks" class='bigonly'>
            <div class='centerflex header-item'
                   @mouseover='favorites_image=favorites_image_hover'
                   @mouseleave='favorites_image=favorites_image_leave'
            >
              <img :src='active==="bookmarks"?"images/icons/dropDown/icon_heart_menu_green.svg":favorites_image'
                   class='icon'
                   rel="preload"
              >
              <p class="header-text" :class='active==="bookmarks"?"header-text-active":favorites_image===favorites_image_hover?"header-text-hover":""'>
                {{ $t("header_favorites") }}
              </p>
            </div>
          </router-link>
          <div class='nav-menu nav-menu-gray toplayer bigonly' @click='store.commit("toggle_menu")'>
          </div>
        </div>
      </div>
        `,
    data: function() {
        return {
            active: 'search',
            home_image: "images/icons/topNav/icon_home_grey.svg",
            home_image_hover: "images/icons/topNav/icon_home_light_hover.svg",
            home_image_leave: "images/icons/topNav/icon_home_grey.svg",
            search_image: "images/icons/topNav/icon_lupe_white_top.svg",
            search_image_hover: "images/icons/topNav/icon_navigation_search_hover.svg",
            search_image_leave: "images/icons/topNav/icon_lupe_white_top.svg",
            information_image: "images/icons/dropDown/icon_list_menu.svg",
            information_image_hover: "images/icons/topNav/icon_navigation_information_hover.svg",
            information_image_leave: "images/icons/dropDown/icon_list_menu.svg",
            favorites_image: "images/icons/dropDown/icon_heart_menu.svg",
            favorites_image_hover: "images/icons/topNav/icon_navigation_heart_hover.svg",
            favorites_image_leave: "images/icons/dropDown/icon_heart_menu.svg",
        }
    },
    methods: {
        set_active: function(current) {
            if (router.currentRoute.path==="/search")
                this.active = 'search'
            else if (router.currentRoute.path.startsWith("/bookmarks"))
                this.active = 'bookmarks'
            else if (router.currentRoute.path.startsWith("/information"))
                this.active = 'information'
            else if (router.currentRoute.path.startsWith("/home"))
                this.active = 'home'
            else
                this.active = ''
        }
    },
    watch: {
        $route(to, from) {
            this.set_active(to);
        }
    },
    mounted() {
        this.set_active(router.currentRoute);
    }
});

