
const Home = Vue.component('home', {
    template: `
      <div>
        <div id='home-first'>
          <div class='border-left'>
            <h1 class='text-accent'>
              {{ $t("home_1_header") }}
            </h1>
            <p class='text-large' v-html='$t("home_1_header_text")'></p>
            <div class='vert-space'></div>
            <p>
              <router-link to="/information">
                <button class='button-white'>{{ $t("home_1_button_find_information") }}</button>
              </router-link>
            </p>
            <p>
              <router-link to="/search">
                <button class='button-raspberry'>{{ $t("home_1_button_search") }}</button>
              </router-link>
            </p>
            <div class='vert-space'></div>
          </div>
        </div>
        <div id='home-second'>
          <fieldset>
            <legend>
              <h1 class='text-white'>
                {{ $t("home_2_header") }}
              </h1>
            </legend>
            <div class="container-row cont-icons">
              <div class='box-icon'>
                <router-link to="/information">
                  <div class='huge-icon bg-info'>
                  </div>
                </router-link>
                <h2 class="text-white">
                  {{ $t("home_2_icon1_header") }}
                </h2>
                <p class="text-large text-white centered">
                  {{ $t("home_2_icon1_text") }}
                </p>
              </div>
              <div class='box-icon'>
                <router-link to="/search">
                  <div class='huge-icon bg-counseling'>
                  </div>
                </router-link>
                <h2 class="text-white">
                  {{ $t("home_2_icon2_header") }}
                </h2>
                <p class="text-large text-white centered">
                  {{ $t("home_2_icon2_text") }}
                </p>
              </div>
              <div class='box-icon'>
                <router-link to="/search">
                  <div class='huge-icon bg-contact'>
                  </div>
                </router-link>
                <h2 class="text-white">
                  {{ $t("home_2_icon3_header") }}
                </h2>
                <p class="text-large text-white centered">
                  {{ $t("home_2_icon3_text") }}
                </p>
              </div>
            </div>
          </fieldset>
        </div>
        <div id='home-third'>
          <div class='container-row space-around'>
            <div>
              <h1 class='text-accent'>
                {{ $t("home_3_header") }}
              </h1>
              <p class='text-large' v-html='$t("home_3_text")'>
              </p>
              <div class='vert-space'></div>
              <p>
                <router-link to="/information">
                  <button class='button-raspberry'>{{ $t("home_3_button") }}</button>
                </router-link>
              </p>
              <div class='vert-space'></div>
            </div>
            <div class='bigonly ma-left-20'>
              <img src="images/pictures/home_face2.png" class='home-img shadow-left'>
            </div>
          </div>
        </div>
        <div id='home-fourth'>
          <div class='container-row space-around'>
            <div class='bigonly ma-right-20'>
              <img src="images/pictures/home_desk.png" class='home-img shadow-left-light'>
            </div>
            <div>
              <h1 class='text-white'>
                {{ $t("home_4_header") }}
              </h1>
              <p class='text-large text-white' v-html='$t("home_4_text")'></p>
              <div class='vert-space'></div>
              <p>
                <router-link to="/information">
                  <button class='button-white'>{{ $t("home_4_button") }}</button>
                </router-link>
              </p>
              <div class='vert-space'></div>
            </div>
          </div>
        </div>
        <div id='home-fifth'>
          <fieldset>
            <legend>
              <h1 class='text-white'>
                {{ $t("home_5_header") }}
              </h1>
            </legend>
            <div class="container">
              <p class='text-white text-large' v-html='$t("home_5_text")'></p>
              <div class='vert-space'></div>
              <p>
                <router-link to="/about">
                  <button class='button-white'>{{ $t("home_5_button") }}</button>
                </router-link>
              </p>
            </div>
          </fieldset>
        </div>
        <div id='home-sixth'>
          <div class='container-row space-around flex-wrap' style="align-items: flex-start;">
            <div>
              <p>
                <img src="images/logo.svg" height="80px">
              </p>
            </div>
            <div class='flex-vert'>
              <p class='text-accent'>
                {{ $t("home_6_header1") }}
              </p>
              <router-link to="/about">
                <p class='text underlined'>
                  {{ $t("home_6_about") }}
                </p>
              </router-link>
              <router-link to="/imprint">
                <p class='text underlined'>
                  {{ $t("home_6_imprint") }}
                </p>
              </router-link>
              <router-link to="/join">
                <p class='text underlined'>
                  {{ $t("home_6_join") }}
                </p>
              </router-link>
            </div>
            <div class='flex-vert'>
              <p class='text-accent'>
                {{ $t("home_6_header2") }}
              </p>
              <p class='text'>
                {{ $t("home_6_video1") }}
              </p>
              <p class='text'>
                {{ $t("home_6_video2") }}
              </p>
            </div>
            <div class='flex-vert'>
              <p class='text-accent'>
                {{ $t("home_6_header3") }}
              </p>
              <p class='text'>
                {{ $t("home_6_facebook") }}
              </p>
              <p class='text'>
                {{ $t("home_6_youtube") }}
              </p>
            </div>
          </div>
        </div>
        <div id='home-seventh'>
          <p class='text text-white centered'>
            {{ $t("home_copyright") }}
          </p>
        </div>
      </div>
        `,
    data: function() {
        return { }
    }
})

