
const Imprint = Vue.component('imprint', {
    template: `
      <div class='container'>
        <p class='text' v-html="$t('imprint_msg')">
        </p>
      </div>
        `,
    data: function() {
        return { }
    }
})

