
const Information = Vue.component('information', {
    template: `
      <div>
          <div class='container centerflex'>
            <img src='images/illustrations/underconstruction.svg'>
              <p class='text'>
                {{ $t('underconstruction_msg') }}
              </p>
          </div>
      </div>
        `,
    data: function() {
        return { }
    }
})

