
const Landing = Vue.component('landing', {
    template: `
      <div class='container'>
        <img src='images/logo.svg' class='landing-logo'>
        <button @click='click("en")'
                class='map-button'
        >
          English
        </button>
        <button @click='click("de")'
                class='map-button'
        >
          Deutsch
        </button>
        <div v-if='false'>
        <button @click='click("fr")'
                class='map-button'
        >
          Français
        </button>
        </div>
        <button @click='click("ar")'
                class='map-button'
        >
          عربية
        </button>
        <button @click='click("fa")'
                class='map-button'
        >
          فارسی
        </button>
        <button @click='click("tu")'
                class='map-button'
        >
          Türkçe
        </button>
      </div>
        `,
    data: function() {
        return { }
    },
    methods: {
        click: function(lang) {
            this.$i18n.locale = lang;
            store.commit('landing_done');
        }
    }
})

