
const List = Vue.component('list', {
    template: `
        <div :class='nextToMap?"list-next-to-map":"list-map"'>
          <router-link to="/search" v-if='!nextToMap'>
            <div class='mapview-button leaflet-button icon-button toptoplayer'>
            </div>
          </router-link>

          <div v-if='nextToMap' class='list-search-header'>
            <searchbox transparent='true'>
            </searchbox>
          </div>

          <div v-if='listed[0].length===0 && !store.state.showWelcome'>
            <div class="list-hint">
              <img src="images/illustrations/nothing.svg" style='width: 75px; max-width: 95%; padding-right: 15px;'>
              <p class='hint'>
                {{ $t('list_nothing_here') }}
                <br>
                <span v-if='listed[1].length!==0'>
                  {{ $t('list_nothing_further') }}
                </span>
              </p>
            </div>
          </div>
          <div class='listview' v-show='!store.state.showWelcome'>
            <div v-for='inst in listed[0]'
                    @mouseover='store.commit("set_selected", inst)'
                    @mouseleave='store.commit("set_selected", null)'
            >
              <card :card='inst' :next-to-map='nextToMap'
                    :isb='store.state.bookmarks.indexOf(inst.id)!==-1'
              >
              </card>
            </div>
            <div v-if='listed[1].length!==0'>
              <div v-if='listed[0].length!==0' class="list-hint">
                <p class='hint'>
                  {{ $t('list_further_away') }}
                </p>
              </div>
              <div v-for='inst in listed[1]'
                      @mouseover='store.commit("set_selected", inst)'
                      @mouseleave='store.commit("set_selected", null)'
              >
                <card :card='inst' :next-to-map='nextToMap'
                      :isb='store.state.bookmarks.indexOf(inst.id)!==-1'
                >
                </card>
              </div>
            </div>
          </div>
          <div v-if='store.state.showWelcome' class='container' style='margin-top: 0'>
            <div>
              <span @click='store.commit("welcome_done"); router.push("/search")' style='cursor: pointer; float: right;'>
                <img src="images/icons/cross.svg">
              </span>
              <p v-html="$t('list_first_msg')" class='text'>
              </p>
              <img src="images/illustrations/corner.svg" style='width: 300px; max-width: 95%'>
            </div>
          </div>
        </div>
        `,
    props: ['nextToMap'],
    data: function() {
        return {
            far: [],
            filter: store.state.filter
        }
    },
    methods: {
        langMatch: function(filterLang, instLang) {
            if (filterLang.length === 0) return true
            for (let lang of filterLang) {
                if (instLang.indexOf(lang) !== -1)
                    return true
            }
            return false
        },
        freeMatch: function(filter, instFree) {
            if ((filter.freeAdvice && instFree) ||
                (filter.paidLawyer && !instFree))
                    return true
            return false
        }
    },
    computed: {
        listed: function() {
            let filter = {};
            let list = [];
            let lat = store.state.center.lat;
            let lon = store.state.center.lng;

            let out = [];
            let maxlat = 100000;
            let maxlon = 100000;
            let dist = [];
            for (let inst of institutes) {
                if (this.langMatch(this.filter.languages, inst.language) && this.freeMatch(this.filter, inst.free))
                    dist.push([inst, +gps_distance(lat, lon, inst.latitude, inst.longitude)]);
            }
            dist = dist.sort((a,b) => a[1]-b[1]).slice(0, 30);
            nearby = dist.filter(x => { return x[1] <= 25; });
            for (let d of nearby)
                list.push(d[0]);
            // include more
            far = [];
            if (list.length < 5) {
                further = dist.filter(x => { return x[1] <= 100; });
                for (let d of further.slice(list.length, 30))
                    far.push(d[0]);
            }
            return [list, far]
        }
    },
    watch: {
        '$store.state.filter': function() {
            this.filter = store.state.filter;
        }
    }
})

