
var {
  LMap,
  LTileLayer,
  LMarker,
} = Vue2Leaflet;


const Map = Vue.component('mapo', {
    template: `
        <div class='flex list-map'>

          <div class='bigonly sidepanel'>
            <list :next-to-map='true' v-if='!store.state.card'></list>
            <profile :next-to-map='true' v-else></profile>
          </div>

          <div class='flexgrow relative'>
            <router-link to="/home">
              <div class='map-logo toplayer tinyonly'>
                <img src="images/logo.svg" class='main-logo-small pointer'>
              </div>
            </router-link>

            <l-map id='mapdiv' ref='mapdiv'
                   :options="{zoomControl: false}"
                   :zoom.sync="store.state.zoom"
                   :center="store.state.center" @click="click"
                   @update:center="store.commit('set_center', $event)">

              <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
              <l-marker v-for="marker,idx in markers" :lat-lng="marker.marker"
                        :icon='marker.icon' @click='updateCard(institutes[marker.idx])'
                        :zIndexOffset='idx'
                        @mouseover='store.commit("set_selected", institutes[marker.idx])'
              >
              </l-marker>
              <l-marker v-if="location!==null" :lat-lng="location"
                        :icon='iconLocate'
                        :zIndexOffset='9999'
              >
              </l-marker>
            </l-map>

            <div class='bigonly'>
            <div class='zoom-button zoom-in-button icon-button toplayer leaflet-button' @click='store.commit("zoom_in")'>
            </div>
            <div class='zoom-button zoom-out-button icon-button toplayer leaflet-button' @click='store.commit("zoom_out")'>
            </div>
            </div>

            <div class='locate-button icon-button toplayer leaflet-button' @click='locate'>
            </div>
            <router-link to="/list" class='tinyandmedium'>
              <div class='listview-button icon-button toplayer leaflet-button'>
              </div>
            </router-link>

            <card id='mapcard' class='toptoplayer tinyandmedium'
                  :card='card' v-if='showCard'
                  :isb='store.state.bookmarks.indexOf(card.id) !== -1'
            >
            </card>

            <settings-button ref='settings'>
            </settings-button>
          </div>
        </div>
        `,
    components: {
        LMap,
        LTileLayer,
        LMarker,
    },
    data: function() {
        return {
            url: 'https://{s}.tile.osm.org/{z}/{x}/{y}.png',
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
            iconBlack: L.icon({
                          iconUrl: 'images/icons/mapListView/icon_item_map_black.svg',
                          iconSize:     [52, 52],
                          iconAnchor:   [26, 48]
                    }),
            iconGray: L.icon({
                          iconUrl: 'images/icons/mapListView/icon_item_map_grey.svg',
                          iconSize:     [52, 52],
                          iconAnchor:   [26, 48]
                    }),
            iconGreen: L.icon({
                          iconUrl: 'images/icons/mapListView/icon_item_map_green.svg',
                          iconSize:     [75, 75],
                          iconAnchor:   [37, 70]
                    }),
            iconLocate: L.icon({
                          iconUrl: 'images/icons/youarehere.svg',
                          iconSize:     [50, 50],
                          iconAnchor:   [37, 70]
                    }),
            card: {name: ''},
            showCard: false,
            filter: store.state.filter,
            location: null
        }
    },
    methods: {
        updateCard: function(inst) {
            this.card = inst;
            this.showCard = true;
            store.commit('set_card', this.card);
            store.commit('set_selected', this.card);
        },
        click: function() {
            this.$emit('close-menu');
            this.showCard = false;
            try { // unless closed
                this.$refs['settings'].close_all();
            } catch(e) {};
            store.commit('set_card', null);
            store.commit('set_selected', null);
        },
        langMatch: function(filterLang, instLang) {
            if (filterLang.length === 0) return true
            for (let lang of filterLang) {
                if (instLang.indexOf(lang) !== -1)
                    return true
            }
            return false
        },
        freeMatch: function(filter, instFree) {
            if ((filter.freeAdvice && instFree) ||
                (filter.paidLawyer && !instFree))
                    return true
            return false
        },
        locate: function() {
            this.$refs.mapdiv.mapObject.locate({setView: true, maxZoom: 12});
        }
    },
    computed: {
        markers: function() {
            let out = [];
            let green = [];
            for(let inst of institutes) { // imported
                if (store.state.selectedCard && (store.state.selectedCard.id === inst.id)) {
                    // selected or hovered
                    green.push({ marker: L.latLng(inst.latitude, inst.longitude),
                               idx: institutes.indexOf(inst),
                               icon: this.iconGreen });
                }
                else if (this.langMatch(this.filter.languages, inst.language) && this.freeMatch(this.filter, inst.free)) {
                    // matches filters
                    out.push({ marker: L.latLng(inst.latitude, inst.longitude),
                               idx: institutes.indexOf(inst),
                               icon: this.iconBlack });
                }
                else {
                    // gray, others
                    out.push({ marker: L.latLng(inst.latitude, inst.longitude),
                               idx: institutes.indexOf(inst),
                               icon: this.iconGray });
                }
            }
            return out.concat(green)
        }
    },
    mounted() {
        let map = this.$refs.mapdiv.mapObject;
        map.on('locationfound', function(e) {
            //let radius = Math.max( e.accuracy/2, 15);
            //L.circle(e.latlng, radius).addTo(map);
            this.location = e.latlng;
        }, this);
        map.on('locationerror', function() {
            console.log('Cannot locate...');
            console.log(e.message);
        });
    },
    watch: {
        '$store.state.filter': function() {
            this.filter = store.state.filter;
        }
    }
})

