
Vue.component('settingsButton', {
    template: `
        <template>
          <div>
            <div class='toplayer bottom-space absolute centered'>
			  <div class='map-button-container'>
                <div class='map-button' :class='{"map-button-selected": free}' @click='free=!free'>
                  <div class='centerflex just-center'>
                    <img class='icon' width='15px' :src='free?"images/icons/filter/icon_filter_free_white_activated.svg":"images/icons/card/icon_free_card_grey.svg"'>
                    {{ $t('map_button_free') }}
			      </div>
			    </div>
			  </div>

			  <div class='map-button-container'>
                <div class='map-button' :class='{"map-button-selected": paid}' @click='paid=!paid'>
                  <div class='centerflex just-center'>
                    <img class='icon' width='15px' :src='paid?"images/icons/filter/icon_paid_white_activated.svg":"images/icons/card/icon_paid_card_grey.svg"'>
                    {{ $t('map_button_paid') }}
			      </div>
			    </div>
			  </div>

			  <div class='map-button-container'>
                <div class='map-button' :class='{"map-button-selected": showLang}' @click='showLang=!showLang'>
                  <div class='centerflex just-center'>
                    <img class='icon' width='15px' src='images/icons/card/icon_language_card_grey.svg'>
                    {{ LANG_str }}
                  </div>
                </div>
			  </div>
            </div>
            <div class='popup-box toplayer bottom absolute centered' v-if='showLang'>
              <div class='lang-content'>
                <input v-model='langquery' class='lang-input small'>
              </div>
              <div class='lang-content'>
                <p style='padding-bottom: 8px;' v-if='langTags.length>0'>
                  <span v-for='tag_lang in langTags' class='lang-tag small' @click='rm(tag_lang.lang)'>
                    {{ tag_lang.tag }}
                    <sup class='bold arial'>x</sup>
                  </span>
                </p>
              </div>
              <div class='lang-content'>
                <p v-for='lang in topLanguages' :key='"t"+lang' class='small lang-item' @click='pushLang(lang)'
                   v-if='langquery==="" && checkedLanguages.indexOf(lang.split("_")[1])===-1'>
                  {{ $t(lang) }}
                </p>
              </div>
              <div class='lang-content'>
                <hr v-if='langquery===""'>
                <p v-for='lang in showLanguages' :key='lang' class='small lang-item' @click='pushLang(lang)'
                   v-if='checkedLanguages.indexOf(lang.split("_")[1])===-1'>
                  {{ $t(lang) }}
                </p>
              </div>
            </div>
          </div>
        </template>
        `,
    data: function() {
        return {
            showLang: false,
            free: store.state.filter.freeAdvice,
            paid: store.state.filter.paidLawyer,
            langquery: '',
            languages: Object.keys(en).filter(x => x.startsWith('lang_')).sort(),
            language_names: {},
            topLanguages: ['lang_en', 'lang_de', 'lang_ar', 'lang_fa'],
            checkedLanguages: store.state.filter.languages
        }
    },
    methods: {
        close_all: function() {
            this.showLang = false;
        },
        update_map: function() {
            store.commit('set_filter', this.filter);
        },
        rm: function(lang) {
            lang = lang.split('_')[1];
            this.checkedLanguages.splice(this.checkedLanguages.indexOf(lang), 1);
        },
        pushLang: function(lang) {
            lang = lang.split('_')[1];
            let idx = this.checkedLanguages.indexOf(lang);
            if (idx === -1)
                this.checkedLanguages.push(lang);
            else
                this.checkedLanguages.splice(idx, 1);
            this.langquery = '';
        }
    },
    computed: {
        LANG_str: function() {
            if (this.checkedLanguages.length === 0) return this.$t('map_button_any')
            return this.langTags.map(x=>x.tag).join(', ')
        },
        filter: function() {
            return { languages: this.checkedLanguages,
                     freeAdvice: this.free,
                     paidLawyer: this.paid
            }

        },
        showLanguages: function() {
            if (this.langquery === "") return this.languages
            let out = [];
            this.langquery = this.langquery.toLowerCase();
            for (let lang of Object.keys(this.language_names))
                if (lang.toLowerCase().startsWith(this.langquery))
                    out.push(this.language_names[lang])
            return out
        },
        langTags: function() {
            let out = [];
            for (let cl of this.checkedLanguages)
                out.push({
                    tag: cl,
                    lang: cl
                 });
            return out
        }
    },
    watch: {
        checkedLanguages: function() {
            this.update_map();
        },
        free: function() {
            this.update_map();
        },
        paid: function() {
            this.update_map();
        },
    },
    mounted() {
        this.update_map();
        this.language_names = {};
        for (let key of this.languages) {
            this.language_names[this.$t(key)] = key;
        }
    }
});

