
var Menu = Vue.component('ddmenu', {
    template: `
        <transition name='ddmenu'>
          <div class='menu' v-if='store.state.showMenu'>

            <router-link to="/home">
              <div class='tinyandmedium centerflex'
                   @click='store.commit("hide_menu")'
                   @mouseover='home_image=home_image_hover'
                   @mouseleave='home_image=home_image_leave'
              >
                <img :src='home_image' class='icon' rel='preload'>
                <p class='item' :class='home_image===home_image_hover?"item-hover":""'>
                  {{ $t('header_home') }}
                </p>
              </div>
            </router-link>
            <router-link to="/search">
              <div class='tinyandmedium centerflex'
                   @click='store.commit("hide_menu")'
                   @mouseover='search_image=search_image_hover'
                   @mouseleave='search_image=search_image_leave'
              >
                <img :src='search_image' class='icon' rel='preload'>
                <p class='item' :class='search_image===search_image_hover?"item-hover":""'>
                  {{ $t('dropdown_search') }}
                </p>
              </div>
            </router-link>
            <router-link to="/information">
              <div class='tinyandmedium centerflex'
                   @click='store.commit("hide_menu")'
                   @mouseover='find_information_image=find_information_image_hover'
                   @mouseleave='find_information_image=find_information_image_leave'
              >
                <img :src='find_information_image' class='icon' rel='preload'>
                <p class='item' :class='find_information_image===find_information_image_hover?"item-hover":""'>
                  {{ $t('dropdown_information') }}
                </p>
              </div>
            </router-link>
            <router-link to="/bookmarks">
              <div class='tinyandmedium centerflex'
                   @click='store.commit("hide_menu")'
                   @mouseover='heart_image=heart_image_hover'
                   @mouseleave='heart_image=heart_image_leave'
              >
                <img :src='heart_image' class='icon' rel='preload'>
                <p class='item' :class='heart_image===heart_image_hover?"item-hover":""'>
                  {{ $t('dropdown_bookmarks') }}
                </p>
              </div>
            </router-link>
            <hr class='tinyandmedium ddhr'>


            <router-link to="/settings">
              <div class='centerflex'
                   @click='store.commit("hide_menu")'
                   @mouseover='settings_image=settings_image_hover'
                   @mouseleave='settings_image=settings_image_leave'
              >
                <img :src='settings_image' class='icon' rel='preload'>
                <p class='item' :class='settings_image===settings_image_hover?"item-hover":""'>
                  {{ $t('dropdown_settings') }}
                </p>
              </div>
            </router-link>
            <router-link to="/about">
              <div class='centerflex'
                   @click='store.commit("hide_menu")'
                   @mouseover='about_image=about_image_hover'
                   @mouseleave='about_image=about_image_leave'
              >
                <img :src='about_image' class='icon' rel='preload'>
                <p class='item' :class='about_image===about_image_hover?"item-hover":""'>
                  {{ $t('dropdown_about') }}
                </p>
              </div>
            </router-link>
            <router-link to="/privacy">
              <div class='centerflex'
                   @click='store.commit("hide_menu")'
                   @mouseover='privacy_image=privacy_image_hover'
                   @mouseleave='privacy_image=privacy_image_leave'
              >
                <img :src='privacy_image' class='icon' rel='preload'>
                <p class='item' :class='privacy_image===privacy_image_hover?"item-hover":""'>
                  {{ $t('dropdown_privacy') }}
                </p>
              </div>
            </router-link>
            <router-link to="/imprint">
              <div class='centerflex'
                   @click='store.commit("hide_menu")'
                   @mouseover='imprint_image=imprint_image_hover'
                   @mouseleave='imprint_image=imprint_image_leave'
              >
                <img :src='imprint_image' class='icon' rel='preload'>
                <p class='item' :class='imprint_image===imprint_image_hover?"item-hover":""'>
                  {{ $t('dropdown_imprint') }}
                </p>
              </div>
            </router-link>
          </div>
        </transition>
    `,
    data: function() {
        return {
            home_image: 'images/icons/topNav/icon_home_grey.svg',
            home_image_leave: 'images/icons/topNav/icon_home_grey.svg',
            home_image_hover: 'images/icons/topNav/icon_home_light_hover.svg',
            search_image: 'images/icons/dropDown/icon_lupe_menu.svg',
            search_image_leave: 'images/icons/dropDown/icon_lupe_menu.svg',
            search_image_hover: 'images/icons/dropDown/icon_navigation_search_grey_hover.svg',
            find_information_image: 'images/icons/dropDown/icon_list_menu.svg',
            find_information_image_leave: 'images/icons/dropDown/icon_list_menu.svg',
            find_information_image_hover: 'images/icons/dropDown/icon_navigation_find_information_grey_hover.svg',
            heart_image: 'images/icons/dropDown/icon_heart_menu.svg',
            heart_image_leave: 'images/icons/dropDown/icon_heart_menu.svg',
            heart_image_hover: 'images/icons/dropDown/icon_navigation_heart_grey_hover.svg',
            settings_image: 'images/icons/dropDown/icon_settings_menu.svg',
            settings_image_leave: 'images/icons/dropDown/icon_settings_menu.svg',
            settings_image_hover: 'images/icons/dropDown/icon_navigation_settings_grey_hover.svg',
            about_image: 'images/icons/dropDown/icon_info_menu.svg',
            about_image_leave: 'images/icons/dropDown/icon_info_menu.svg',
            about_image_hover: 'images/icons/dropDown/icon_navigation_about_grey_hover.svg',
            privacy_image: 'images/icons/dropDown/icon_lock_menu.svg',
            privacy_image_leave: 'images/icons/dropDown/icon_lock_menu.svg',
            privacy_image_hover: 'images/icons/dropDown/icon_navigation_privacy_grey_hover.svg',
            imprint_image: 'images/icons/dropDown/icon_imprint_menu.svg',
            imprint_image_leave: 'images/icons/dropDown/icon_imprint_menu.svg',
            imprint_image_hover: 'images/icons/dropDown/icon_navigation_imprint_grey_hover.svg',
        }
    }
})

