
const Privacy = Vue.component('privacy', {
    template: `
      <div class='container'>
        <p v-html="$t('privacy_msg')" class='text'>
        </p>
      </div>
        `,
    data: function() {
        return { }
    }
})

