
const Profile = Vue.component('profile', {
    template: `
        <template>
          <div :class='nextToMap?"container-next-to-map":"container"'>
            <div>
            <span v-if='nextToMap' @click='store.commit("set_card", null)' style='cursor: pointer; float: right;'>
              <img src="images/icons/cross.svg">
            </span>
            <p v-if='nextToMap' class='profile-header'>
                {{ this.card.name }}
            </p>
            <addrdiv :street='card.street' :plz='card.plz' :city='card.city' v-on:goto='goto_lat_lon(card)'></addrdiv>
            <teldiv :tel='card.tel'></teldiv>
            <emaildiv :email='card.email'></emaildiv>
            <hpdiv :homepage='card.homepage'></hpdiv>
            <hoursdiv :hours='card.hours'></hoursdiv>
            <costdiv :free='card.free' :is-profile='true'></costdiv>
            <languagediv :language='card.language' :is-profile='true'></languagediv>
            <div class='vert-space-30'></div>
            <div class='centered'>
              <a :href='"mailto:"+ card.email + mailbody'>
                <button>
                  <img src='images/icons/card/icon_contact_card_green_activated.svg' style='height: 12px; margin-left: 20px; float: left; top: 4px; position: relative;'>
                  {{ $t('profile_contact_by_email') }}
                </button>
              </a>
              <div class='vert-space'></div>
              <button :class='store.state.bookmarks.indexOf(card.id)===-1?"":"active-button"' @click='store.commit("toggle_bookmark", card.id)'>
                <img :src='store.state.bookmarks.indexOf(card.id)===-1?"images/icons/card/heart_outlined_green.png":"images/icons/card/heart_outlined_white.png"' style='height: 12px; float: left; margin-left: 20px; position: relative; top: 4px;'>
                {{ $t('profile_bookmark') }}
              </button>
            <div>
            <div>
          </div>
        </template>
        `,
    props: ['nextToMap'],
    data: function() {
        return {
            card: null
        }
    },
    methods: {
        goto_lat_lon: function(card) {
            store.commit('set_center', L.latLng(card.latitude, card.longitude));
            setTimeout(function() {
                store.commit('set_zoom', 18);
            }, 500);
            router.push('/search');
        },
        update_card: function() {
            if (!this.nextToMap) {
                this.card = get_card(this.$route.params.id);
                if (!this.card) {
                    router.push('/error');
                }
            }
            else {
                this.card = store.state.card;
            }
        }
    },
    created() {
        this.update_card();
        store.commit('welcome_done');
    },
    watch: {
        '$store.state.card': function() {
            this.update_card();
        }
    }
})

