
const SB = Vue.component('searchbox', {
    template: `
      <template>
        <div class='inlineblock' id='search-container'>
          <div class='search-box centerflex space-between'
               :class='transparent?"search-box-transparent":""'
          >
            <div style='flex: 1;'>
              <input v-model='store.state.query'
                     class='search-input'
                     :class='transparent?"search-input-transparent":""'
                     :placeholder='$t("searchbox_msg")'
                     autocomplete="off"
                     @keyup='search'
                     @keyup.enter='query_osm'>
            </div>
            <div class='search-icon' :class='transparent?"search-icon-white":""' @click='query_osm'>
            </div>
            <div class='hamburger-icon tinyandmedium' @click='store.commit("toggle_menu")'>
            </div>
          </div>
          <div id='search-suggestions' v-if='showResults'>
            <p v-for='result in queryResults' :key='result[0]' @click='goto(result)'>
              {{ result[0] }}
            </p>
          </div>
        </div>
      </template>
        `,
    props: ['transparent'],
    data: function() {
        return {
            queryUrl: 'https://nominatim.openstreetmap.org/search.php?polygon_geojson=0&format=json&countrycodes=de&limit=1&accept-language=de&',
            showResults: false,
            queryResults: []
        }
    },
    methods: {
        goto: function(result) {
            this.showResults = false;
            setTimeout( x => { store.commit('set_zoom', 13) }, 300);
            store.commit('set_query', result[0]);
            store.commit('set_center', L.latLng(result[2], result[3]));
            store.commit('welcome_done');
        },
        search: function() {
            let q = store.state.query;
            if (q < 2) {
                this.showResults = false;
                return
            }
            q = q.toLowerCase();
            let start = q.slice(0,2);
            // cities imported, aa: [city, einw, lat, lon, bb]
            let rightStart = cities[start] || [];
            this.queryResults = [];
            let arr = [];
            for (let tup of rightStart)
                if (tup[0].toLowerCase().startsWith(q)) {
                    this.queryResults.push(tup);
                    arr.push(tup);
                }
            if (this.queryResults.length > 5) {
                arr = arr.sort((a, b) => +b[1] - a[1]).slice(0,5);
                this.queryResults = [];
                for (let x of arr)
                    this.queryResults.push(x);
            }
            if (this.queryResults.length > 0) this.showResults = true;
        },
        query_osm: function() {
            let query = store.state.query;

            // perfect match, no query
            if (this.queryResults[0] && this.queryResults[0][0].toLowerCase() === query.toLowerCase()) {
                this.goto(this.queryResults[0])
                return
            }

            fetch(this.queryUrl + 'q=' + query)
                .then(response => response.json())
                .then(locations => {
                    let results;
                    for (let location of locations) {
                        results = [ location.display_name,
                                    0,
                                    location.lat,
                                    location.lon ]
                    }
                    this.goto(results);
              });
        },
        swap_lat_lon: function(arr) {
            let x;
            for (let idx in arr) {
                x = arr[idx][0];
                arr[idx][0] = arr[idx][1];
                arr[idx][1] = x;
            }
            return arr
        },
        hide: function() {
            this.showResults = false;
        },
    }
})

