
const Settings = Vue.component('settings', {
    template: `
      <div class='container'>
        <button @click='$i18n.locale="en"'
                class='map-button'
                :class='$i18n.locale==="en"?"map-button-selected":""'
        >
          English
        </button>
        <button @click='$i18n.locale="de"'
                class='map-button'
                :class='$i18n.locale==="de"?"map-button-selected":""'
        >
          Deutsch
        </button>
        <div v-if='false'>
        <button @click='$i18n.locale="fr"'
                class='map-button'
                :class='$i18n.locale==="fr"?"map-button-selected":""'
        >
          Français
        </button>
        </div>
        <button @click='$i18n.locale="ar"'
                class='map-button'
                :class='$i18n.locale==="ar"?"map-button-selected":""'
        >
          عربية
        </button>
        <button @click='$i18n.locale="fa"'
                class='map-button'
                :class='$i18n.locale==="fa"?"map-button-selected":""'
        >
          فارسی
        </button>
        <button @click='$i18n.locale="tr"'
                class='map-button'
                :class='$i18n.locale==="tr"?"map-button-selected":""'
        >
          Türkçe
        </button>
      </div>
        `,
    data: function() {
        return { }
    }
})

