
@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-Regular.otf');
}

@font-face {
  font-family: ComfortaaRegular;
  src: url('fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: ComfortaaLight;
  src: url('fonts/Comfortaa-Light.ttf');
}

@font-face {
  font-family: ComfortaaBold;
  src: url('fonts/Comfortaa-Bold.ttf');
}

html {
  --aa-color-background: #fff;
  --aa-color-primary: #3A9FB7;
  --aa-color-accent: #2A7385;
  --aa-color-error: #B84D73;
  --aa-color-dark: #000000;
  --aa-color-dark-gray: #393939;
  --aa-color-gray: #6f6f6f;
  --aa-color-light-gray: #a0a0a0;
  --aa-color-light-light-gray: #cecece;
  --aa-color-super-light-gray: #f1f1f1;
  --aa-color-light: #f4f4f4;
  --aa-color-white: #fff;
  --aa-color-raspberry: #620E2C;
  --aa-color-primary-trans: #3A9FB785;
  --aa-color-accent-trans: #2A738585;
  --aa-color-primary-trans-dark: #3A9FB7EE;
  --aa-color-accent-trans-dark: #2A7385EE;
  --aa-color-white-trans: #FFFFFF82;
  --aa-color-gray-trans: #70707030;
  --aa-color-dark-gray-trans: #000000DD;
  --aa-height-nav: 80px;
  --aa-height-header-image: 250px;
  --aa-height-searchbox: 90px;
  --aa-width-sidepanel: 30%;
  --aa-width-sidepanel-max: 600px;
  --aa-width-sidepanel-min: 400px;
  font: ComfortaaRegular;
  color: var(--aa-color-dark-gray);
}

body {
  margin: 0 auto;
}

#app {
  position: relative;
  height: 100vh;
  background-color: var(--aa-color-white);
}

@supports (-webkit-touch-callout: none) {
  #app {
    height: -webkit-fill-available;
  }
}

h1 {
  font-family: ComfortaaLight;
  font-size: 34;
  color: var(--aa-color-dark-gray);
}

h2 {
  font-family: ComfortaaRegular;
  font-size: 26;
  color: var(--aa-color-dark-gray);
}

h3 {
  font-family: ComfortaaBold;
  font-size: 18;
  color: var(--aa-color-dark-gray);
}

h4 {
  font-family: ComfortaaBold;
  font-size: 14;
  color: var(--aa-color-dark-gray);
}

h5 {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  color: var(--aa-color-dark-gray);
}

a {
  text-decoration: none;
  color: var(--aa-color-accent);
}

p {
  font-family: ComfortaaRegular;
  font-size: 20;
  color: var(--aa-color-gray);
}

hr {
  color: var(--aa-color-super-light-gray);
}

.ddhr {
  margin: 20px 0;
}

.hr-light {
  opacity: 0.3;
}

.small {
  font-family: SourceSansPro;
  font-size: 20;
  xline-height: 0.6;
}

.bold {
  font-weight: bold;
}

.arial{
  font-family: Arial;
}

button {
  font-family: SourceSansPro;
  font-size: 16;
  color: var(--aa-color-accent);
  background-color: var(--aa-color-white);
  border-color: var(-aa-color-accent);
  border: 1px solid var(--aa-color-accent);
  border-radius: 5px;
  width: 240px;
  height: 48px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  outline: none;
}

button:active {
  background-color: var(--aa-color-accent);
  color: var(--aa-color-white);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.active-button {
  background-color: var(--aa-color-accent);
  color: var(--aa-color-white);
}

.button-white {
  background-color: var(--aa-color-white);
  color: var(--aa-color-gray);
  border: none;
}

.button-raspberry {
  background-color: var(--aa-color-raspberry);
  color: var(--aa-color-white);
  border: none;
}

fieldset {
  border: none;
  border-top: 2px #fff solid;
}

legend {
  margin: 0 auto;
  padding: 0 30px;
}

#header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
  height: var(--aa-height-nav);
  padding: 15px 30px;
  border-bottom: 3px solid var(--aa-color-primary);
  box-shadow: 0 0px 10px rgba(0,0,0,0.2);
  z-index: 3000;
  position: relative;
  background-color: var(--aa-color-white);
}

.header-item {
  margin-left: 20px;
  margin-right: 20px;
}

#blueheader {
  box-sizing: border-box;
  width: 100%;
  height: var(--aa-height-header-image);
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 15px 20px;
  height: 250px;
  min-height: 10vh;
  max-height: 30vh;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-text {
  font-family: SourceSansPro;
  font-size: 18px;
}

.header-text-hover {
  color: var(--aa-color-light-light-gray);
}

.header-text-active {
  color: var(--aa-color-primary);
}

.landing-logo {
  padding: 40px;
}

#home-first {
  background-image: url("../images/pictures/home_face1.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(100vh - var(--aa-height-nav) - 80px);
  padding: 100px;
  box-sizing: border-box;
}

#home-second {
  background-color: var(--aa-color-accent);
  width: 100%;
  padding: 80px 120px 40px 120px;
  box-sizing: border-box;
}

#home-third {
  padding: 80px;
  box-sizing: border-box;
}

#home-fourth {
  background-color: var(--aa-color-accent);
  padding: 80px;
  box-sizing: border-box;
}

#home-fifth{
  background-image: linear-gradient(var(--aa-color-dark-gray-trans), var(--aa-color-dark-gray-trans)), url("../images/pictures/kein_mensch_ist_illegal.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  box-sizing: border-box;
}

#home-sixth {
  padding: 80px;
  box-sizing: border-box;
}

#home-seventh{
  background-color: var(--aa-color-accent);
  padding: 10px;
  box-sizing: border-box;
}

.home-img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-sizing: border-box;
}

.shadow-left {
  box-shadow: -20px 20px 0px 0px var(--aa-color-gray);
}

.shadow-left-light {
  box-shadow: -20px 20px 0px 0px var(--aa-color-light-gray);
}

.text-accent {
  color: var(--aa-color-accent);
}

.text-white {
  color: var(--aa-color-white);
}

.border-left {
  border-left: 2px var(--aa-color-accent) solid;
  padding: 10px 40px;
  width: 40%;
}

.cont-icons {
  margin-top: 80px;
  align-items: flex-start !important;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 15%;
  min-width: 200px;
  padding-bottom: 40px;
  margin: 0 50px;
}

.huge-icon {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: var(--aa-color-white);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.huge-icon:hover {
  background-color: var(--aa-color-raspberry);
}

.blue-image-paper {
  background-image: linear-gradient(var(--aa-color-primary-trans-dark), var(--aa-color-accent-trans-dark)), url("../images/papier.jpg");
} 

.blue-image-hands {
  background-image: linear-gradient(var(--aa-color-primary-trans-dark), var(--aa-color-accent-trans-dark)), url("../images/hands.jpg");
} 

.blue-image-illegal {
  background-image: linear-gradient(var(--aa-color-primary-trans-dark), var(--aa-color-accent-trans-dark)), url("../images/pictures/kein_mensch_ist_illegal.jpeg");
} 

.blue-image-weareall {
  background-image: linear-gradient(var(--aa-color-primary-trans-dark), var(--aa-color-accent-trans-dark)), url("../images/pictures/we_are_all.jpg");
} 

.blue-image-frontex {
  background-image: linear-gradient(var(--aa-color-primary-trans-dark), var(--aa-color-accent-trans-dark)), url("../images/pictures/frontex.jpeg");
} 

.blue-image-everyone {
  background-image: linear-gradient(var(--aa-color-primary-trans-dark), var(--aa-color-accent-trans-dark)), url("../images/pictures/everyone_welcome.jpeg");
} 

.blue-image-illegalwall {
  background-image: linear-gradient(var(--aa-color-primary-trans-dark), var(--aa-color-accent-trans-dark)), url("../images/pictures/illegal_wall.jpeg");
} 

.blue-image-lawyer {
  background-image: linear-gradient(var(--aa-color-primary-trans-dark), var(--aa-color-accent-trans-dark)), url("../images/pictures/lawyer.jpeg");
} 

.bg-info {
  background-image: url("../images/icons/kreis_info_home.svg");
}

.bg-info:hover {
  background-image: url("../images/icons/kreis_info_home_weiss.svg");
}

.bg-counseling {
  background-image: url("../images/icons/kreis_suche.svg");
}

.bg-counseling:hover {
  background-image: url("../images/icons/kreis_suche_weiss.svg");
}

.bg-contact {
  background-image: url("../images/icons/kreis_kontakt.svg");
}

.bg-contact:hover {
  background-image: url("../images/icons/kreis_kontakt_weiss.svg");
}

.blue-headline {
  color: #fff;
  font-family: ComfortaaRegular;
  font-size: 36px;
  padding: 0 80px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.main-logo-div {
  width: var(--aa-width-sidepanel);
  max-width: var(--aa-width-sidepanel-max);
}

.bh-logo-div {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50px;
  height: 50px;
}

.main-logo-small {
  display: none;
}

.main-logo-large {
  height: 45px;
}

.main-logo-arrow-back {
  height: 20px;
}

.ma-left-20 {
  margin-left: 20px;
}

.ma-right-20 {
  margin-right: 20px;
}

.nav-menu {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: 50px;
}

.nav-menu-gray {
  background-image: url('../images/icons/down.svg');
  background-size: 20px;
}

.nav-menu-white {
  background-image: url('../images/icons/topNav/icon_hamburger_white_top.svg');
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.container-next-to-map {
  width: 95%;
  padding: 40px;
  box-sizing: border-box;
  margin: auto;
}

.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.text {
  font-family: SourceSansPro;
  font-size: 16;
}

.text-large {
  font-family: SourceSansPro;
  font-size: 20;
}

.relative {
  position: relative;
}

.inblock {
  display: inline-block;
}

.flex-wrap {
  flex-wrap: wrap;
}

#mapdiv {
  width: 100%;
  height: calc(100vh - var(--aa-height-nav));
  box-sizing: border-box;
  z-index: 1;
  background: var(--aa-color-light);
}

.sidepanel {
  width: var(--aa-width-sidepanel);
  max-width: var(--aa-width-sidepanel-max);
  min-width: var(--aa-width-sidepanel-min);
}

.list-map {
  height: calc(100vh - var(--aa-height-nav));
  max-height: calc(100vh - var(--aa-height-nav));
}

.icon-button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-clip: padding-box;
  box-shadow: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.leaflet-button {
  position: absolute;
  margin: 20px;
  top: 0;
  right: 0;
}

.leaflet-button:hover {
  background-color: var(--aa-color-light);
}

.locate-button {
  background-image: url('../images/icons/mapListView/icon_location_map_activated.svg');
  margin-right: 50px;
}

.listview-button {
  background-image: url('../images/icons/mapListView/icon_listview_map.svg');
  margin-right: 50px;
}

.mapview-button {
  background-image: url('../images/icons/mapListView/icon_mapview_map.svg');
  margin-right: 50px;
}

.zoom-button {
  font-family: ComfortaaBold;
  font-size: 32;
  top: 0;
  right: 0;
  left: initial;
  text-align: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 60px;
}

.zoom-in-button {
  margin-top: 90px;
  background-image: url('../images/icons/zoomin.svg');
  background-position: center;
  background-size: 12px 12px;
  border-radius: 15px 15px 0 0;
}

.zoom-out-button {
  margin-top: 120px;
  background-image: url('../images/icons/zoomout.svg');
  background-position: center;
  background-size: 12px 12px;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid var(--aa-color-light-light-gray);
}

.toplayer {
  z-index: 20;
}

.toptoplayer {
  z-index: 50;
}

.vert-space {
  height: 20px;
}

.vert-space-30 {
  height: 30px;
}

.space-around {
  justify-content: space-around;
}

.absolute {
  position: absolute;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.bottom-space {
  bottom: 20px;
}

.bottom {
  bottom: 0;
}

.centered {
  width: 100%;
  text-align: center;
}

.align-left {
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.underlined {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.flex-vert {
  display: flex;
  flex-direction: column;
}

.centerflex {
  display: flex;
  align-items: center;
}

.just-center {
  justify-content: center;
}

.flexgrow {
  flex-grow: 1;
}

.fullwidth {
  width: 100%;
  max-width: 100vw;
}

.space-between {
  justify-content: space-between;
}

#mapcard {
  position: absolute;
  bottom: 20px;
}

.card {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--aa-color-white);
  padding: 15px 25px 15px 35px;
  cursor: pointer;
  border-bottom: 1px solid var(--aa-color-light-light-gray);
}

.card-header {
  font-family: SourceSansPro;
  font-size: 16;
  xcolor: var(--aa-color-dark-gray);
  color: var(--aa-color-accent);
  text-decoration: underline;
  padding-bottom: 17px;
  margin-bottom: 0;
}

.card-bookmark {
  display: flex;
  flex-wrap: nowrap;
  width: 600px;
  max-width: 100%;
  box-sizing: border-box;
  background-color: var(--aa-color-white);
  border-radius: 10px;
  padding: 10px 25px 20px 35px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  margin-top: 20px;
  cursor: pointer;
}

.card-next-to-map {
  margin-top: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--aa-color-light-light-gray);
}

.card-text {
  color: var(--aa-color-gray);
  font-family: SourceSansPro;
  font-size: 13;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.card-more {
  white-space: nowrap;
}

.card-activated {
  background-color: var(--aa-color-light);
}

.profile-header {
  font-family: ComfortaaBold;
  padding-bottom: 0;
  margin-bottom: 30px;
}

.profile-text {
  color: var(--aa-color-gray);
  font-family: SourceSansPro;
  font-size: 16;
  padding: 0;
  margin: 10px 0;
  min-height: 1.2em;
}

.profile-text > a {
  color: var(--aa-color-accent);
}

.card-icon {
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

.heart-icon {
  background-image: url('../images/icons/card/icon_heart_card_grey_inactivated.svg');
}

.heart-icon-filled {
  background-image: url('../images/icons/card/icon_heart_card_green_activated.svg');
}

.mail-icon {
  background-image: url('../images/icons/card/icon_contact_card_green_activated.svg');
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.hint {
  font-family: SourceSansPro;
  font-size: 13;
}

.menu {
  position: absolute;
  z-index: 1000;
  box-sizing: border-box;
  background-color: var(--aa-color-white);
  padding: 10px 15px 15px 25px;
  top: var(--aa-height-nav);
  right: 30px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.ddmenu-enter, .ddmenu-leave-to {
  transform: translateY(-250px);
}
.ddmenu-enter-active, .ddmenu-leave-active {
  transition: all 0.6s ease;
}

.item {
  font-family: ComfortaaBold;
  font-size: 20;
  color: var(--aa-color-gray);
  padding: 5px 15px;
  margin: 5px;
}

.item-hover {
  color: var(--aa-color-light-light-gray);
}

.item:hover {
  color: var(--aa-color-light-light-gray);
}

.item:active {
  color: var(--aa-color-accent);
}

.map-button-container {
  display: inline;
  position: relative;
}

.map-button {
  display: inline-block;
  margin: 20px 40px;
  box-sizing: border-box;
  max-height: 300px;
  min-width: 120px;
  font-family: SourceSansPro;
  font-size: 17;
  background: var(--aa-color-white);
  border-radius: 20px;
  padding: 10px 17px;
  cursor: pointer;
  overflow: auto;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.map-button-selected {
  background: var(--aa-color-primary);
  color: var(--aa-color-white);
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: 80px auto;
}

.lang-tag {
  margin: 5px;
  padding: 2px 10px 8px 10px;
  border-radius: 20px;
  color: #fff;
  background-color: var(--aa-color-primary);
  display: inline-block;
}

.lang-input {
  color: var(--aa-color-gray);
  border: none;
  border-bottom: 1px var(--aa-color-light-gray) solid;
  width: 100%;
  margin-top: 10px;
  font-family: SourceSansPro;
  background-image: url('../images/icons/topNav/icon_lupe_white_top.svg');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: left;
  padding-left: 27px;
  outline: none;
}

.popup-box {
  position: absolute;
  width: 400px;
  min-width: 250px;
  left: 50%;
  display: inline-block;
  box-sizing: border-box;
  max-height: 300px;
  font-family: SourceSansPro;
  font-size: 16;
  background: var(--aa-color-white);
  border-radius: 17px;
  padding: 8px 15px;
  cursor: pointer;
  overflow: auto;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  line-height: 0.6;
}

.noadyet-img {
  width: 350px;
  min-width: 200px;
  max-width: 50%;
}

.inlineblock {
  display: inline-block;
}

.search-box {
  box-sizing: border-box;
  height: 48px;
  border-radius: 5px;
  border: 2px solid var(--aa-color-gray-trans);
  padding: 0 10px;
}

.search-box-transparent {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid var(--aa-color-white);
  border-radius: 0;
  padding: 15px 0 0 5px;
}

.search-input {
  width: 270px;
  max-width: 65vw;
  font-family: SourceSansPro;
  font-size: 16;
  border: none;
  outline: none;
}

.search-input-transparent {
  color: var(--aa-color-white);
  background-color: #ffffff00;
}

.search-input-transparent::placeholder {
  opacity: 1;
  color: #82c1d1;
}

.search-icon {
  background-image: url('../images/icons/topNav/icon_lupe_white_top.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  padding-right: 10px;
  cursor: pointer;
}

.search-icon-white {
  background-image: url('../images/icons/lupe_white.svg');
}

.hamburger-icon {
  width: 50px;
  height: 50px;
  background-image: url('../images/icons/topNav/icon_hamburger_top.svg');
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

#search-suggestions {
  border-radius: 5px;
  padding: 0px 10px;
  border: 2px solid var(--aa-color-light-light-gray);
  background-color: var(--aa-color-white);
  overflow: hidden;
  z-index: 999;
  position: fixed;
  min-width: 300px;
}

#search-suggestions > p {
  font-family: SourceSansPro;
  font-size: 13;
  cursor: pointer;
}

.select-menu {
  font-family: ComfortaaRegular;
  font-size: 20;
  color: var(--aa-color-gray);
  padding: 5px 12px;
}

.listview {
  overflow-y: scroll;
}

.list-next-to-map {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--aa-height-nav));
  max-height: calc(100vh - var(--aa-height-nav));
}

.list-search-header {
  display: flex;
  justify-content: center;
  height: var(--aa-height-searchbox);
  background: var(--aa-color-primary);
  box-sizing: border-box;
  padding: 20px;
}

.list-hint {
  padding: 30px 35px 15px 35px;
  background-color: var(--aa-color-light);
  border-bottom: 1px solid var(--aa-color-light-light-gray);
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}

.map-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #ffffffbb;
}

.map-logo:active {
  background: #fff;
}

.map-logo:hover {
  background: #fff;
}

.arrow-right {
  border: solid var(--aa-color-gray);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.tinyonly {
  display: none;
}

.tinyandmedium {
  display: none;
}

.tinyandmedium-block {
  display: none;
}


@media only screen and (max-width: 768px) {
  #home-first {
    background-image: none;
    padding: 50px 20px;
    height: inherit;
  }
  .border-left {
    width: 90%;
    border: none;
  }
  #home-second {
    padding: 80px 20px;
  }
  #home-fifth {
    padding: 80px 20px;
  }
  #home-sixth {
    padding: 80px 20px;
  }
  fieldset {
    border: none;
  }
  legend {
    padding: 0;
  }
  .main-logo-small {
    display: initial;
    height: 40px;
  }
  .main-logo-large {
    display: none;
  }
  .menu {
    height: 100%;
    width: 100%;
    right: 0;
    padding: 10px 45px 0 25px;
  }
  .ddmenu-enter, .ddmenu-leave-to {
    transform: translateX(100vw);
  }
  .ddmenu-enter-active, .ddmenu-leave-active {
    transition: all 0.5s ease;
  }
  #mapcard {
    bottom: 0;
  }
  .container {
    width: 100%;
  }
  .leaflet-button {
    left: 0;
  }
  .locate-button {
    margin-left: 80px;
  }
  .search-icon {
    padding-right: 30px;
    border-right: 1px solid var(--aa-color-light-light-gray);
  }
  .popup-box {
    width: 100%;
    left: 0;
    border-radius: 10px;
    line-height: initial;
  }
  .lang-content {
    margin: auto;
    width: 90%;
    min-width: 300px;
    min-height: 15px;
    text-align: left;
  }
  .lang-item {
    padding-left: 30px;
    margin: 2px;
    border-bottom: 1px solid var(--aa-color-gray-trans);
  }
  .lang-item:last-child {
    border-bottom: 0;
  }
  .map-button {
    margin: 5px;
  }
  #blueheader {
    padding: 15px 30px;
  }
  .blue-headline {
    padding: 0;
  }
  .leaflet-button {
    position: fixed;
    top: calc(var(--aa-height-nav) - 10px);
    right: 0;
  }
  .bigonly {
    display: none;
  }
  .tinyandmedium {
    display: flex;
  }
  .tinyandmedium-block {
    display: inline-block;
  }
}

@media only screen and (max-width: 500px) {
  html {
    --aa-height-nav: 70px;
  }
  .mediumonly {
    display: none;
  }
  #header {
    padding: 10px 15px;
  }
  #search-container {
    width: 100%;
    max-width: 100%;
  }
  #search-box {
    width: 100%;
    max-width: 100%;
  }
  #search-input {
    width: 70%;
    min-width: 150px;
  }
  .map-button {
    margin: 3px;
  }
  .tinyonly {
    display: initial;
  }
}
